<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexión a la base de datos usando variables de entorno -->
        <property name="connection.provider_class">org.hibernate.connection.DriverManagerConnectionProvider</property>
        <property name="connection.url">${env.DATABASE_URL}</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">${env.DATABASE_USER}</property>
        <property name="connection.password">${env.DATABASE_PASSWORD}</property>

        <!-- Configuración de Hibernate -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- Cambiado a update para mantener los datos -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- entities -->
        <mapping class="org.example.entidades.Mueble"/>
    </session-factory>
</hibernate-configuration>